.example-showcase{
  .nbutton{
    margin-right: 8px;
    margin-bottom: 12px;
  }
  .demo-combinations {
    .n-button-group{
      margin-right: 8px;
      margin-bottom: 12px;
    }
    .nbutton{
      margin: 0;
    }
  }
}