@import '../theme/color.scss';
button {
    outline: none;
}

$xs:2px 8px;
$sm:5px 10px;
$md:8px 12px;
$lg:10px 16px;
.nbutton {
    overflow: hidden;
    border-radius: 6px;
    border: 0;
    text-align: center;
    font-family: PingFangSC-Regular;
    display: inline-block;
    position: relative;
    outline: none;
    font-weight: 400;
    -webkit-appearance: none;
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    transition: all .1s linear;
    box-sizing: border-box;
    cursor: pointer;
    .nbutton-icon {
        display: inline-block;
        margin-right: 8px;
    }
    .nbutton-icon-only {
        display: block;
        font-size: 12px;
        margin: 0;
        height: 16px;
        width: 16px;
    }
}

.nbutton-hasicon {
    padding: 10px !important;
}

@mixin nbutton-colors($color, $type) {
    background: $color;
    color: $color;
    @if $type=='default' {
        background: transparent;
        border: 1px solid $color;
        &:focus,
        &:hover {
            background: mix($white, $color, 90%);
            border: 1px solid mix($white, $color, 20%);
            color: $color;
        }
    }
    @if $type=='primary' {
        border: none;
        color: $white;
        &:focus,
        &:hover {
            background: mix($white, $color, 30%)
        }
        ;
        &:active {
            background: mix($black, $color, 5%)
        }
        &:disabled {
            background: mix($white, $color, 40%)
        }
    }
}

.nbutton-type-default {
    @include nbutton-colors($primaryColor, 'default');
}

.nbutton-type-primary {
    @include nbutton-colors($primaryColor, 'primary');
    border: none;
    color: $white !important;
}

.nbutton-type-link {
    color: $primaryColor;
    background: none;
    border: none;
}

.nbutton-type-ghost {
    color: $primaryColor;
    background: #ffffff;
    border: 1px solid $primaryColor;
}

.nbutton-type-delicate {
    color: #8E8E93;
    background: none;
    border: none;
}

.nbutton-type-default.nbutton-status-success {
    @include nbutton-colors($successColor, 'default');
}

.nbutton-type-default.nbutton-status-info {
    @include nbutton-colors($infoColor, 'default');
}

.nbutton-type-default.nbutton-status-warning {
    @include nbutton-colors($warningColor, 'default');
}

.nbutton-type-default.nbutton-status-danger {
    @include nbutton-colors($dangerColor, 'default');
}

.nbutton-type-primary.nbutton-status-success {
    @include nbutton-colors($successColor, 'primary');
}

.nbutton-type-primary.nbutton-status-info {
    @include nbutton-colors($infoColor, 'primary');
}

.nbutton-type-primary.nbutton-status-warning {
    @include nbutton-colors($warningColor, 'primary');
}

.nbutton-type-primary.nbutton-status-danger {
    @include nbutton-colors($dangerColor, 'primary');
}

.nbutton-disabled {
    background-color: #F7F7FA;
    cursor: not-allowed;
    &:focus,
    &:hover {
        background-color: #F7F7FA;
        outline: none;
    }
}

.nbutton-shape-square {
    border-radius: 6px;
}

.nbutton-shape-circle {
    border-radius: 50%;
    padding: 0;
}

.nbutton-shape-round {
    border-radius: 18px;
}

.nbutton-size-lg {
    padding: $lg;
    font-size: 16px;
}

.nbutton-size-md {
    padding: $md;
    font-size: 14px;
}

.nbutton-size-sm {
    padding: $sm;
    font-size: 14px;
}

.nbutton-size-xs {
    padding: $xs;
    font-size: 12px;
}

.nbutton-slot {
    text-align: center;
}