@import "../theme/color.variables.scss";
.n-tag{
  text-align:center;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: $textBaseColor;
  line-height: 20px;
  display: inline-block;
  margin: 0 8px 0 0;
  div{
    min-width: 64px;
    height: 24px;
    line-height: 24px;
    padding: 2px 8px;
  }
  a {
    text-decoration: none;
    color:$primaryColor;
  }
  i {
    width: 12px;
    height: 12px;
    margin: 5px;
  }
  .iconfont{
    font-size: 12px;
  }
  .tag{
    border-radius: 4px;
  }
  .normal{
    color: $infoColor;
    background: rgba($infoColor,0.15) ;
    height: 100%;
  }
  .primary {
    color: $primaryColor;
    background: rgba($primaryColor,0.15) ;
    height: 100%;
  }
  .success {
    color: $successColor;
    background: rgba($successColor,0.15) ;
    height: 100%;
  }
  .warning{
    color: $warningColor;
    background: rgba($warningColor,0.15) ;
    height: 100%;
  }
  .danger{
    color: $dangerColor;
    background: rgba($dangerColor,0.15) ;
    height: 100%;
  }
  .linkable{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: $primaryColor;
    background: rgba($textBaseColor,0.15) ;
    border-radius: 6px;
    border-radius: 6px;
  }
  .close{
    cursor:pointer
  }
}