@import "../theme/color.variables.module.scss";
.n-badge {
  position: relative;
  display: inline-block;
  .n-badge-common{
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(50%,-50%);
    transform-origin: 100% 0%;
    z-index: auto;
  }
  .n-badge-default{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    padding: 0;
  }
  .n-badge-content{
    border-radius: 8px;
    font-size: 12px;
    line-height: 16px;
    padding: 0 5px;
    color: #fff;
  }
  .primary{
    background:$primaryColor;
  }
  .success{
    background:$successColor;
  }
  .warning{
    background:$warningColor;
  }
  .danger {
    background: $dangerColor;
  }
}

.new-title{
  margin-left: -3.5px;
}
.small{
  width: 4px;
    height: 7px;
    border-radius: 50%;
    margin: 0;
    padding: 0px 3.5px;
}