@font-face {
  font-family: 'iconfont';  /* project id 1213701 */
  src: url('//at.alicdn.com/t/font_1213701_e5sqb0h5yj5.eot');
  src: url('//at.alicdn.com/t/font_1213701_e5sqb0h5yj5.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1213701_e5sqb0h5yj5.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1213701_e5sqb0h5yj5.woff') format('woff'),
  url('//at.alicdn.com/t/font_1213701_e5sqb0h5yj5.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1213701_e5sqb0h5yj5.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

